body {
	background: #EEE;
	color: #222;
	font: italic 900 18px Raleway, Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 48px;
	color: #666;
}

h2 {
	font-size: 32px;
	color: #666;
}

.first h2 {
	color: tomato;
}

section p {

}

.highlight {
	background-color: yellow;
}

section {
	border-top: 1px solid #666;
}









